<div class="import-json">
  <header>
    <h1>ImportReadJsonFiles</h1>
  </header>

  <main>
    <div class="import-json__content">
      <p>
        Hello Everyone!!! In this project, we will show you that
        <strong>How to import/read local json file in angular.</strong>
      </p>
      <p>There are <strong>atleast 3 ways to do this.</strong> To check one by one, click on below buttons.</p>
    </div>

    <div class="import-json__btn-container">
      <button type="button" [routerLink]="['/first-way']">Click Me To Check First Way</button>
      <button type="button" [routerLink]="['/second-way']">Click Me To Check Second Way</button>
      <button type="button" [routerLink]="['/third-way']">Click Me To Check Third Way</button>
      <button type="button" [routerLink]="['/']">Click Me To Go HomePage</button>
    </div>

    <div class="import-json__result">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <h3>Created By: Codeptive Solutions</h3>
  </footer>
</div>
